body {
  background: linear-gradient(45deg, #1870ed, #f18f88);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 10px 0;
  background-color: #000;
  border-radius: 5px;
  padding: 60px 30px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
    0 15px 90px 30px rgba(0, 0, 0, 0.95);
  display: flex;
}

.timer-container-interval {
  margin: 10px 0;
  background-color: #000;
  border-radius: 5px;
  padding: 15px 0;
  color: #1870ed;
  height: 130px;
  overflow-y: auto;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
    0 15px 90px 30px rgba(0, 0, 0, 0.95);
}

.timer-container-interval::-webkit-scrollbar {
  width: 4px;
}

.timer-container-interval::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border-radius: 8px;
}

.timer-col {
  text-align: center;
  margin: 0 40px;
  min-width: 90px;
  position: relative;
}

.timer-container h1 {
  color: #1870ed;
}

.timer-hours,
.timer-minutes,
.timer-seconds {
  color: #285da9;
}

.timer-label {
  color: #1870ed;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 10px;
}

.btn {
  width: 80%;
  margin: 10px;
}

span {
  color: rgb(172, 112, 230);
}

@media (max-width: 825px) {
  .timer-container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .timer-col + .timer-col {
    margin-top: 20px;
  }
}
